In [1]:
import requests
import pandas as pd
import json

In [2]:
url = "https://archive-api.open-meteo.com/v1/era5?latitude=50.8371&longitude=4.3676&start_date=2015-01-01&end_date=2022-07-13&daily=sunrise,sunset&timezone=Europe%2FBerlin"

In [3]:
response = requests.get(url)

In [4]:
data = json.loads(response.content)
time = data["daily"]["time"]
sunrise = data["daily"]["sunrise"]
sunset = data["daily"]["sunset"]

In [5]:
df_out = pd.DataFrame(list(zip(time, sunrise, sunset)), columns = ["day", "sunrise", "sunset"])
df_out = df_out.astype("datetime64")
df_out["sunhours"] = df_out["sunset"] - df_out["sunrise"]
df_out.drop(["sunrise", "sunset"], axis=1, inplace=True)

In [6]:
df_out

            day        sunhours
0    2015-01-01 0 days 08:07:00
1    2015-01-02 0 days 08:08:00
2    2015-01-03 0 days 08:09:00
3    2015-01-04 0 days 08:10:00
4    2015-01-05 0 days 08:11:00
...         ...             ...
2746 2022-07-09 0 days 16:20:00
2747 2022-07-10 0 days 16:18:00
2748 2022-07-11 0 days 16:16:00
2749 2022-07-12 0 days 16:14:00
2750 2022-07-13 0 days 16:12:00

[2751 rows x 2 columns]

In [6]:
df_out.to_csv("../data/sunlight.csv")