In [7]:
import pandas as pd
import functools

# Prices

In [8]:
#priceBE = pd.read_csv("../data/priceDAH_BE.csv")
#priceNL = pd.read_csv("../data/priceDAH_NL.csv")
#priceFR = pd.read_csv("../data/priceDAH_FR.csv")
priceDELU = pd.read_csv("../../data/priceDAH_DELU.csv")
priceDEATLU = pd.read_csv("../../data/priceDAH_DEATLU.csv")

In [9]:
priceDE = pd.concat([priceDELU, priceDEATLU], ignore_index=True)
priceDE.sort_values(by=["datetime"], inplace=True)

In [11]:
priceDE.to_csv("../../data/priceDAH_DE.csv", index=False)

In [5]:
priceDE.rename(columns={"price": "priceDE"}, inplace=True)
#priceFR.rename(columns={"price": "priceFR"}, inplace=True)
#priceNL.rename(columns={"price": "priceNL"}, inplace=True)
#priceBE.rename(columns={"price": "priceBE"}, inplace=True)

In [6]:
df_list = [priceBE, priceNL, priceFR, priceDE]

In [7]:
price_df = functools.reduce(lambda  left,right: pd.merge(left,right,
                                            on=['datetime'],
                                            how='outer'),
               df_list)

In [8]:
price_df.to_csv("../data/price_CWE.csv", index=False)

# Load

In [14]:
#loadBE = pd.read_csv("../data/loadDAH_BE.csv")
#loadNL = pd.read_csv("../data/loadDAH_NL.csv")
#loadFR = pd.read_csv("../data/loadDAH_FR.csv")
loadDELU = pd.read_csv("../../data/loadDAH_DELU.csv")
loadDEATLU = pd.read_csv("../../data/loadDAH_DEATLU.csv")

In [15]:
loadDE = pd.concat([loadDELU, loadDEATLU], ignore_index=True)
loadDE.sort_values(by=["datetime"], inplace=True)

In [17]:
loadDE.to_csv("../../data/loadDAH_DE.csv", index=False)

In [6]:
loadDE.rename(columns={"load": "loadDE"}, inplace=True)
loadFR.rename(columns={"load": "loadFR"}, inplace=True)
loadNL.rename(columns={"load": "loadNL"}, inplace=True)
loadBE.rename(columns={"load": "loadBE"}, inplace=True)

In [7]:
df_list = [loadBE, loadNL, loadFR, loadDE]

In [8]:
load_df = functools.reduce(lambda  left,right: pd.merge(left,right,
                                            on=['datetime'],
                                            how='outer'),
               df_list)

In [9]:
load_df

                  datetime   loadBE    loadNL   loadFR    loadDE
0      2014-12-31 23:00:00  9452.25   9782.00  69637.5  49306.25
1      2015-01-01 00:00:00  9955.25   9011.50  61512.5  46952.50
2      2015-01-01 01:00:00  9521.00   8607.75  61550.0  45751.50
3      2015-01-01 02:00:00  9134.75   8461.75  64425.0  45306.25
4      2015-01-01 03:00:00  8909.00   8499.50  65487.5  45423.00
...                    ...      ...       ...      ...       ...
70123  2022-12-31 18:00:00  9811.50  13399.50      NaN  49408.50
70124  2022-12-31 19:00:00  9171.00  13044.75      NaN  46328.50
70125  2022-12-31 20:00:00  8592.75  12712.25      NaN  44857.50
70126  2022-12-31 21:00:00  8693.50  12290.25      NaN  44245.50
70127  2022-12-31 22:00:00  8662.50  11727.50      NaN  43262.75

[70128 rows x 5 columns]

In [10]:
load_df.to_csv("../data/load_CWE.csv", index=False)

# Renewables

In [24]:
renewablesBE = pd.read_csv("../data/renewablesDAH_BE.csv")
renewablesNL = pd.read_csv("../data/renewablesDAH_NL.csv")
renewablesFR = pd.read_csv("../data/renewablesDAH_FR.csv")
renewablesDELU = pd.read_csv("../data/renewablesDAH_DELU.csv")
renewablesDEATLU = pd.read_csv("../data/renewablesDAH_DEATLU.csv")

In [25]:
renewablesDE = pd.concat([renewablesDELU, renewablesDEATLU], ignore_index=True)
renewablesDE.sort_values(by=["datetime"], inplace=True)

In [26]:
renewablesDE.rename(columns={"solar": "solarDE"}, inplace=True)
renewablesDE.rename(columns={"wind_onshore": "wind_onshoreDE"}, inplace=True)
renewablesDE.rename(columns={"wind_offshore": "wind_offshoreDE"}, inplace=True)

renewablesNL.rename(columns={"solar": "solarNL"}, inplace=True)
renewablesNL.rename(columns={"wind_onshore": "wind_onshoreNL"}, inplace=True)
renewablesNL.rename(columns={"wind_offshore": "wind_offshoreNL"}, inplace=True)

renewablesFR.rename(columns={"solar": "solarFR"}, inplace=True)
renewablesFR.rename(columns={"wind_onshore": "wind_onshoreFR"}, inplace=True)

renewablesBE.rename(columns={"solar": "solarBE"}, inplace=True)
renewablesBE.rename(columns={"wind_onshore": "wind_onshoreBE"}, inplace=True)
renewablesBE.rename(columns={"wind_offshore": "wind_offshoreBE"}, inplace=True)

In [27]:
df_list = [renewablesBE, renewablesNL, renewablesFR, renewablesDE]

In [28]:
renewables_df = functools.reduce(lambda  left,right: pd.merge(left,right,
                                            on=['datetime'],
                                            how='outer'),
               df_list)

In [29]:
renewables_df.to_csv("../data/renewables_CWE", index=False)

# Generation

In [18]:
#generationBE = pd.read_csv("../../data/generationDAH_BE.csv")
#generationNL = pd.read_csv("../../data/generationDAH_NL.csv")
#generationFR = pd.read_csv("../data/generationDAH_FR.csv")
generationDELU = pd.read_csv("../../data/generationDAH_DELU.csv")
generationDEATLU = pd.read_csv("../../data/generationDAH_DEATLU.csv")

In [19]:
generationDEATLU = generationDEATLU.groupby(by="datetime").max()
generationDEATLU["datetime"] = generationDEATLU.index

In [20]:
generationDE = pd.concat([generationDELU, generationDEATLU], ignore_index=True)
generationDE.sort_values(by=["datetime"], inplace=True)

In [22]:
generationDE.to_csv("../../data/generationDAH_DE.csv", index=False)

In [41]:
generationDE.rename(columns={"generation": "generationDE"}, inplace=True)
generationBE.rename(columns={"generation": "generationBE"}, inplace=True)
generationNL.rename(columns={"generation": "generationNL"}, inplace=True)
generationFR.rename(columns={"generation": "generationFR"}, inplace=True)

In [42]:
df_list = [generationBE, generationNL, generationFR, generationDE]

In [43]:
generation_df = functools.reduce(lambda  left,right: pd.merge(left,right,
                                            on=['datetime'],
                                            how='outer'),
               df_list)

In [44]:
generation_df.to_csv("../data/generation_CWE.csv", index=False)

# Combination

In [21]:
df_list = [generation_df, load_df, price_df]

In [22]:
out_df = functools.reduce(lambda  left,right: pd.merge(left,right,
                                            on=['datetime'],
                                            how='outer'),
               df_list)

In [23]:
out_df.to_csv("../data/data_CWE.csv")

In [ ]:
# renewables are not yet incorporated